[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
$name$ = {editable = true, path = "."}

[dev-packages]
mypy = "~= 0.620"
ptpython = "*"
yapf = "*"

[requires]
python_version = "$python_version$"
